@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #83a4d4;
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  overflow-x: hidden;
}

.circle {
  position: relative;
  width: 30em;
  height: 30em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  border: 3px solid #555;
  margin: 5em auto 0;
  z-index: 1;
  background: white;
}

.circle > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7.0em;
  height: 7.0em;
  margin: -3.5em;
}

.circle > *:nth-of-type(1) {
  transform: rotate(0deg) translate(15em) rotate(0deg);
}

.circle > *:nth-of-type(2) {
  transform: rotate(60deg) translate(15em) rotate(-60deg);
}

.circle > *:nth-of-type(3) {
  transform: rotate(120deg) translate(15em) rotate(-120deg);
}

.circle > *:nth-of-type(4) {
  transform: rotate(180deg) translate(15em) rotate(-180deg);
}

.circle > *:nth-of-type(5) {
  transform: rotate(240deg) translate(15em) rotate(-240deg);
}

.circle > *:nth-of-type(6) {
  transform: rotate(300deg) translate(15em) rotate(-300deg);
}

input[type=radio] {
  position: absolute;
  left: 290px;
  display: none;
}

label {
  border: 3px solid #555555;
  border-radius: 100%;
  position: relative;
  background: #83a4d4;
  z-index: 5;
  cursor: pointer;
  transition: .5s;
}

label:hover {
  background: lighten(#83a4d4, 13%);
}

label:hover > span {
  color: black;
}

label:active {
  height: 6em;
  width: 6em;
}

.rain-drop {
  position: absolute;
  height: 10px;
  width: 10px;
  background: #83a4d4;
  border-radius: 50%;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
  animation: rain 1s linear infinite;
  display: none;
  opacity: 0;
}

.rain-drop:nth-child(2) {
  left: 30px;
  top: -10px;
  animation-delay: .5s;
}

.rain-drop:nth-child(3) {
  left: 50px;
  top: 8px;
  animation-delay: .2s;
}

.rain-drop:nth-child(4) {
  left: 95px;
  top: -8px;
  animation-delay: .4s;
}

label:hover > .rain-drop {
  display: block;
}

.cu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  opacity: 0;
  animation: start .5s ease forwards;
}

@keyframes start {
  0% {
    transform: translateY(1px);
  }
  100% {
    opacity: 1;
  }
}

.circle [id^="tab"]:checked + .nav-label {
  background: #83a4d4;
  animation: grow .2s linear forwards;
  overflow: hidden;
}

@keyframes grow {
  100% {
    height: 8.2em;
    width: 8.2em;
  }
}

.circle [id^="tab"]:checked + .nav-label > .wave {
  display: block;
}

.circle [id^="tab"]:checked + .nav-label > .wave > .wave2 {
  opacity: 1;
}

.circle [id^="tab"]:checked + .nav-label > span {
  color: black;
}

.circle [id^="tab"]:checked + .nav-label > .rain-drop {
  display: none;
}

.wave {
  position: absolute;
  z-index: -1;
  height: 200px;
  width: 200px;
  background: rgba(white, .5);
  border-radius: 30%;
  top: -115px;
  right: -25px;
  animation: wave 5s linear infinite;
  display: none;
}

@keyframes wave {
  100% {
    transform: rotate(360deg);
  }
}

.wave2 {
  position: absolute;
  z-index: 2;
  height: 185px;
  width: 185px;
  background: white;
  border-radius: 30%;
  opacity: 0;
  border-radius: 100%;
}

#tab-content1 {
  position: absolute;
  height: 32em;
  width: 32em;
  transform: translateX(-200px) translateY(-200px);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.container-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -50px;
}

.pic {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  margin-bottom: 8px;
  border: 3px solid #555;
}

p {
  margin: 0;
  padding: 0;
}

.name {
  font-size: 18px;
}

.account {
  color: #ccc;
  font-size: 13px;
}

.formfield {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -50px;
  left: 0px;
}

.one, .two, .three {
  position: relative;
  width: 250px;
  left: 0px;
}

#texter {
  position: relative;
  left: 0px;
  width: 100%;
  height: 25px;
  margin-top: 20px;
  border: none;
  background: transparent;
  padding-bottom: 0px;
  font-size: 14px;
  z-index: 100;
}

#texter:focus {
  outline: none;
}

#texter::-webkit-input-placeholder {
  padding-left: 1px;
  font-size: 12px;
  padding-bottom: 0px;
}

#texter:focus::-webkit-input-placeholder {
  opacity: 0;
}

.underline {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 250px;
  height: 2px;
  background: #555;
  z-index: 110;
  transition: 1.6s;
}

.underline:after {
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  background: #83A4D4;
  opacity: 0;
}

.submit {
  position: relative;
  width: 110px;
  height: 60px;
  background: #83A4D4;
  border-bottom: 8px solid #B2F5FC;
  color: white;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
  top: -20px;
  z-index: 200;
}

.submit:active {
  transform: scale(.90);
}

.text {
  position: absolute;
  color: white;
  left: 203px;
  bottom: 0px;
  font-size: 14px;
  border-radius: 0;
  background: #83a4d4;
  border: none;
  z-index: -10;
  transition: .5s;
  height: 0;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 4px;
  padding-right: 4px;
  opacity: 1;
}

#secondtext {
  left: 206px;
}

#thirdtext {
  left: 197px;
}

#texter:focus ~ .text {
  opacity: 1 !important;
  transform: translateY(-4px);
}

#texter:focus ~ .underline:after {
  opacity: 1;
  animation: growing .2s linear forwards;
}

@keyframes growing {
  100% {
    width: 250px;
  }
}

.tab-content {
  opacity: 0;
  display: none;
}

#tab4:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab1:checked ~ #tab-content4 {
  opacity: 1;
}

#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab1:checked ~ #tab-content4 {
  display: block;
}

h1.center {
  display: none;
  z-index: -100;
}

#tab-content3 > h1.center {
  position: absolute;
  top: -200px;
  left: 110px;
  display: block;
}

#tab-content2 > h1.center {
  position: absolute;
  top: -200px;
  right: 90px;
  display: block;
}

#tab-content4 > h1.center {
  position: absolute;
  top: 0px;
  left: 230px;
  display: block;
}

.ripple,
.ripple2 {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(white, .3);
  border-radius: 100%;
  visibility: hidden;
}

.ripple:hover,
.ripple2:hover {
  animation: ripple 1.6s ease-out infinite;
}

.ripple2 {
  animation-delay: .4s;
}

@keyframes ripple {
  0% {
    visibility: visible;
  }
  40% {
    visibility: visible;
    transform: scale(2.9);
    border: 1px solid rgba(white, 0);
  }
  100% {
    visibility: visible;
    transform: scale(2.9);
    border: 1px solid rgba(white, 0);
  }
}
